<!DOCTYPE html>
<html ng-app='redditClone'>
  <head>
    <meta charset="utf-8">
    <title>G29 Reddit Clone Solution</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="app.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body ng-controller='PostsController'>
    <div>
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Reddit Clone</a></li>
        <li role="presentation"><a href="#"><span class="glyphicon glyphicon-plus"></span> New Post</a></li>
        <li>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
          </form>
        </li>
        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Dropdown <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            ...
          </ul>
        </li>
      </ul>
    </div>
    <div class="main">
      <div class="well post" ng-repeat='post in posts'>
        <p>
          <img ng-src='{{post.img_url}}' />
        </p>
        <h5 class='author'>
          {{post.author}}
        </h5>
        <h3>
          {{post.title}}<span ng-click='upvote(post)' class='glyphicon glyphicon-arrow-up'></span>
          <span ng-click='downvote(post)' class='glyphicon glyphicon-arrow-down'></span>
          <span ng-class="getClass(post)">{{post.votes}}</span>
        </h3>
        <p>
          {{post.description}}
        </p>
        <time><span class='glyphicon glyphicon-calendar'></span>{{ post.date | amCalendar }}</time> |
        <span ng-click='toggleComments()'>
          <span class='glyphicon glyphicon-comment'></span><ng-pluralize count="post.comments.length"
        when="{ '1': '{{post.comments.length}} comment', 'other': '{{post.comments.length}} comments'}"></ng-pluralize>
        </span> |
        <span ng-click='toggleCommentForm()'><span class='glyphicon glyphicon-pencil'></span>Add Comment</span>

          <!-- NEW COMMENT FORM -->
        <div class="comments well well-sm" ng-show='showCommentForm'>
          <h3>New Comment</h3>
          <form class="form-group">
            <label for="body">Comment Body</label>
            <input class='form-control' type="text" ng-model='comment.body' id='body'>
            <label for="commenter">Commenter</label>
            <input class='form-control' type="text" ng-model='comment.commenter' id='commenter'>
            <button ng-click="submitComment()" class="btn btn-default" type="button" name="name">Submit</button>
          </form>
        </div>

        <!-- COMMENTS WELL -->
        <div class='comments' ng-show='showComments' ng-repeat='comment in post.comments'>
          <h3>Comments</h3>
          <div class="well well-sm">
            <h5>
              {{comment.commenter}} : <small>{{comment.body}}</small>
            </h5>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.min.js"></script>
    <script type="text/javascript" src='js/app.js'></script>
    <script type="text/javascript" src='js/controllers/posts_controller.js'></script>
    <script type="text/javascript" src='js/services/posts_factory.js'></script>
  </body>
</html>
