<!DOCTYPE html>
<html ng-app='redditClone'>
  <head>
    <meta charset="utf-8">
    <title>G29 Reddit Clone Solution</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="app.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body ng-controller='PostsController'>
    <div>
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Reddit Clone</a></li>
        <li role="presentation"><a href="#"><span class="glyphicon glyphicon-plus"></span> New Post</a></li>
        <li>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
          </form>
        </li>
        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Dropdown <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            ...
          </ul>
        </li>
      </ul>
    </div>
    <div class="main">
      <div class="well post" ng-repeat='post in posts'>
        <p>
          <img ng-src='{{post.img_url}}' />
        </p>
        <h5 class='author'>
          {{post.author}}
        </h5>
        <h3>
          {{post.title}}<span ng-click='upvote(post)' class='glyphicon glyphicon-arrow-up'></span>
          <span ng-click='downvote(post)' class='glyphicon glyphicon-arrow-down'></span>
          <span ng-class="getClass(post)">{{post.votes}}</span>
        </h3>
        <p>
          {{post.description}}
        </p>
        <time><span class='glyphicon glyphicon-calendar'></span>{{ post.date | amCalendar }}</time> 
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.min.js"></script>
    <script type="text/javascript" src='js/app.js'></script>
    <script type="text/javascript" src='js/controllers/posts_controller.js'></script>
    <script type="text/javascript" src='js/services/posts_factory.js'></script>
  </body>
</html>
